body {
  background-image: url(../img/fondo1-transformed2.jpeg);
  background-size: cover;
  background-attachment: fixed;
  overflow-x: hidden;
}

header {
  font-family: "Playfair Display";
  display: flex;
  justify-content: space-between;
  margin: 0vh 5vw 3vh 5vw;
  background-color: #345959;
  border: 1px solid #70de4b;
}

.logo {
  width: 15vw;
  height: 16vh;
}

h1 {
  color: #7eff90;
}

a {
  text-decoration: none;
  color: #7eff90;
}

a:hover {
  color: white;
}

.navegacion ul li {
  color: #7eff90;
  list-style-type: none;
  margin-right: 1em;
  border: 1px solid #70de4b;
  padding-bottom: 1vh;
}

main {
  margin: 0vh 5vw 3vh 5vw;
  background-color: #407e7e;
  border: 1px solid #70de4b;
}

.tituloPaginas {
  text-align: center;
  color: #70de4b;
}

.ultimasAdq {
  padding-top: 15vh;
  text-align: center;
  color: #70de4b;
}

fieldset {
  color: #70de4b;
  border-color: #52a736;
}
.formulario {
  font-family: "IBM Plex Serif";
}

.containerConjunto {
  display: flex;
  flex-direction: column;
}

.inputFormulario {
  width: 45%;
}

.textareaFormulario {
  width: 60%;
}

.adquisiciones {
  margin: 0vh 3vw 3vh 2vw;
  width: 40%;
  border: 1px solid #70de4b;
  display: grid;
}

.subidoReciente {
  grid-column: 1;
  grid-row: 1;
  color: #70de4b;
}

.video {
  overflow: hidden;
  grid-column: 1/2;
  grid-row: 2;
}

.video iframe {
  display: flex;
  width: 100%;
  height: 95%;
  margin-left: 5vw;
}

section img {
  width: 85%;
  height: 90%;
  grid-column: 2;
  grid-row: 1;
}

.cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.card {
  display: flex;
  border: 1px solid #70de4b;
  margin: 3vh;
  flex-direction: column;
  justify-content: space-around;
  max-width: 25%;
}

.imagenProducto img {
  width: 100%;
  height: 100%;
  flex-grow: 1;
  flex-shrink: 1;
}

.card a {
  font-size: 95%;
}

footer {
  font-family: "Playfair Display";
  color: #7eff90;
  margin: 0vh 5vw 3vh 5vw;
  background-color: #345959;
  border: 1px solid #70de4b;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 1vw 0 1vw;
}

.containerCreditos {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.redesSociales {
  height: 3vh;
  width: 1.5vw;
  padding: 0vh 0vw 1vh 1.5vw;
}

.preguntasFrecuentes {
  margin: 2vw;
  color: #7eff90;
}

@media all and (min-width: 600px) and (max-width: 1023px) {
  header {
    font-family: "Playfair Display";

    display: grid;
    grid-template-areas: "col1 col2 col3";
    margin: 0vh 4vw 1.5vh 4vw;
    grid-template-columns: 1fr 1fr 1fr;
    background-color: #345959;
    border: 1px solid #70de4b;
  }
  .logo {
    width: 17vw;
    height: 16vh;
  }

  .navegacion ul li {
    color: #7eff90;
    list-style-type: none;
    margin-right: 1em;
  }

  main {
    margin: 0vh 4vw 1.5vh 4vw;
    background-color: #407e7e;
    border: 1px solid #70de4b;
  }

  .ultimasAdq {
    padding-top: 10vh;
    text-align: center;
    color: #70de4b;
  }

  fieldset {
    width: 95%;
  }

  .inputFormulario {
    width: 45%;
  }

  .textareaFormulario {
    width: 75%;
  }
  .containerAdqusiciones {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .adquisiciones {
    margin: 0vh 3vw 3vh 2vw;
    width: 80%;
    border: 1px solid #70de4b;
    display: grid;
  }

  .subidoReciente {
    grid-column: 1;
    grid-row: 1;
    color: #70de4b;
  }

  .video {
    overflow: hidden;
    grid-column: 1/2;
    grid-row: 2;
  }

  .video iframe {
    display: flex;
    width: 100%;
    height: 95%;
    margin-left: 5vw;
  }

  section img {
    width: 85%;
    height: 90%;
    grid-column: 2;
    grid-row: 1;
  }

  .cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .card {
    display: flex;
    border: 1px solid #70de4b;
    margin: 3vh;
    flex-direction: column;
    justify-content: space-around;
    max-width: 32%;
  }

  .imagenProducto img {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .card a {
    font-size: 95%;
  }

  footer {
    font-family: "Playfair Display";
    color: #7eff90;
    margin: 0vh 4vw 1.5vh 4vw;
    background-color: #345959;
    border: 1px solid #70de4b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw 0 1vw;
  }

  .containerCreditos {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
  .redesSociales {
    height: 3vh;
    width: 2vw;
    padding: 0vh 0vw 1vh 1.5vw;
  }

  .preguntasFrecuentes {
    margin: 2vw;
    color: #7eff90;
  }
}

@media all and (max-width: 599px) {
  header {
    display: flex;
    flex-direction: column;
    background-color: #345959;
    border: 1px solid #70de4b;
    margin: 0vh 2vw 1vh 2vw;
    justify-content: center;
    align-items: center;
  }
  .logo {
    width: 25vw;
    height: 16vh;
  }

  .navegacion {
    background-color: #162424;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  .navegacion ul {
    display: flex;
    flex-direction: row;
    border: 1px #70de4b;
    justify-content: space-between;
  }

  .navegacion ul li {
    border: none;
  }

  main {
    margin: 0vh 2vw 1vh 2vw;
    background-color: #407e7e;
    border: 1px solid #70de4b;
  }

  .containerAdqusiciones {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .adquisiciones {
    margin: 0vh 3vw 3vh 2vw;
    width: 80%;
    border: 1px solid #70de4b;
    display: grid;
  }

  .subidoReciente {
    grid-column: 1;
    grid-row: 1;
    color: #70de4b;
  }

  .ultimasAdq {
    padding-top: 5vh;
    text-align: center;
    color: #70de4b;
  }

  fieldset {
    width: 89%;
  }

  .inputFormulario {
    width: 75%;
  }

  .textareaFormulario {
    width: 95%;
  }

  .tituloPaginas {
    text-align: center;
    color: #70de4b;
  }

  .cards {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
  }
  .card {
    display: flex;
    border: 1px solid #70de4b;
    margin: 3vh;
    flex-direction: column;
    justify-content: center;
    max-width: 75%;
  }

  .imagenProducto img {
    width: 100%;
    height: 100%;
    flex-grow: 1;
    flex-shrink: 1;
  }

  .card a {
    font-size: 95%;
  }

  footer {
    font-family: "Playfair Display";
    color: #7eff90;
    margin: 0vh 2vw 1vh 2vw;
    background-color: #345959;
    border: 1px solid #70de4b;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0 1vw 0 1vw;
  }

  .containerCreditos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }

  .redesSociales {
    height: 3vh;
    width: 3vw;
    padding: 0vh 0vw 1vh 1.5vw;
    display: inline-flex;
  }

  .preguntasFrecuentes {
    margin: 2vw;
    color: #7eff90;
  }
}
